.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	font-weight: bold;
	font-size: 1em;
    text-align: left;
    color: #185875;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
    display: table;
    padding: 0 8em 8em 0;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.container td {
	padding: 2%;  
    color: rgba(50, 50, 50, 1);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container th {
	padding: 2%;;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #fcfcfc;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #f2f2f2;
}

.container th {
	  background-color: #185875;
}

/*
.container td:first-child { color: #FB667A; }
*/

.container .test {
    width: 200px;
}

.container tbody tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
  background-color: #FFF842;
  color: #403E10;
  
  box-shadow: #555555 -1px 1px, #555555 -2px 2px, #555555 -3px 3px, #555555 -4px 4px, #555555 -5px 5px, #555555 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

.tblPage {
    float: left;
    height: 8vh;
    width: 80%;
    min-width: 600px;
    margin-left: 10%;
}

.tblPage button {
    float: left;
    height: 4vh;
    width: 6%;
    margin-left: 2%;
    margin-top: 2vh;
    background: #185875;
    color: rgba(250, 250, 250, 1);
    border: 2px solid #073d56;
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    transition-duration: 0.5s;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.tblPage button:hover {
    background: #073d56;
}

.tblPage button:disabled {
    background: rgba(250, 250, 250, 1);
    color: rgba(50, 50, 50, 1);
    border: 2px solid #073d56;
}

.table_responsive {
    float: left;
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 50px;
    overflow-x: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  background: rgba(250, 250, 250, 1);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #073d56; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(50, 50, 50, 1); 
}

@media only screen and (max-width: 1000px) {
    .table_responsive {
        width: 90vw;
        margin-left: 5vw;
        overflow-x: scroll;
    }

    .tblPage {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 600px) {
    .table_responsive {
        width: 100vw;
        margin-left: 0;
        overflow-x: auto;
    }

    table {
        width: auto;
    }

    th, td {
        white-space: nowrap;
    }

    .tblPage {
        width: 100%;
        margin-left: 0;
    }
}